.form {
    
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .form div {
    margin-bottom: 10px;
    
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .save{
    border: none;
    border-radius: 5px;
  }
  .delete{
    border: none;
    border-radius: 5px;
    margin-left: 170px;
    background-color: rgb(205, 59, 59);
  }
  

  .recipeprivacy{
    display: flex;
     flex-direction: row;
     margin-top: 10px;
  }
  
  