body {
    background-color: rgb(214, 250, 238);
}

.search-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 20px;
  }
  .search-container label{
    font-size: 20px;
    font-weight: bold;
  }
  .icon-with-space {
    font-size: 24px;
    margin-left: 3px;
  }
  
  .search-container > * {
    margin-right: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .search-container {
      flex-wrap: wrap;
    }
  }



   .Recipe {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    
  }
  
  .card {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    height: 80vh;
  }
  
  .label {
    padding: 5px;
    font-size: large;
    font-style: italic;
    font-weight: bold;
  }

  .input {
    font-size: 1.2em;
    font-family: Arial, sans-serif;
  }
  
  


  
  