/* login/signup form styles */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #040c14;
  }
  
  button {
    padding: 0;
    margin: 0;
    border: none;
    color: #0ab03f;
    cursor: pointer;
  }
  
  
