.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
  }
  
  /* .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #fff;
    background-color: #45403f;
  }
  
  .navbar-nav .nav-link.active:last-child,
  .navbar-nav .nav-link:last-child:hover,
  .navbar-nav .nav-link:last-child:focus {
    color: #fff;
    background-color: #c6bcb9;
  } */
  