.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.form-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  font-size: 1.8rem;
  margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #999;
}

.form-submit {
  background-color: #6dabe4;
  color: #fff;
  padding: 10px 40px;
  margin-left: 80px;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-submit:hover {
  background-color: #4693cf;
}

.signup-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signup-image-link {
  font-size: 1.2rem;
  color: #6dabe4;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.signup-image-link:hover {
  color: #5087b2;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.signIn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.signIn-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}
.home-page{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #99cadc 50%, #b2ceda 50%);
}
.home-div{
  text-align: center;
  color: white;
  font-size: 2rem;
  
}

